# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
#*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# own ignore files
_build/
pca10040/s132/armgcc/
pca10040/s132/iar/
pca10040/s132/ses/OUTPUT
pca10040/s132/arm4/
pca10040/s132/arm5_no_packs/RTE/

pca10040/s132/arm5_no_packs/EventRecorderStub.scvd
pca10040/s132/arm5_no_packs/JLinkLog.txt
pca10040/s132/arm5_no_packs/JLinkSettings.ini
pca10040/s132/arm5_no_packs/ble_app_beacon_pca10040_s132.uvguix.AKAEM
~$w consumption.docx
Keys/private.key
Documentation/power_consumption/~$wer_Consumption.docx
pca10040/s132/ses/ble_beacon_pca10040_s132.emSession
pca10040/s132/ses/ble_beacon_pca10040_s132_Release.jlink
pca10040/s132/config/sdk_config_app_pwr_profiling.h
pca10040/s132/config/sdk_config_app_template.h
pca10040/s132/config/sdk_config_myconfig.h
pca10040/s132/config/sdk_config_mycurrent.h
ble_beacon_dis_sw.inc~
ble_beacon_dis_sw.inc
